.resized-container{
    min-width: 0; /* Removes any minimum width */
    width: auto; /* Optional: Allows the container to shrink freely */
}

.resize{
    width: 300px;
    height: auto;
    max-width: 100%;
}

.text-gold {
    color: #ffd900fb
}