.custom-navbar {
    background-color: #2e313d; /* purple background */
    color: white; /* white text */
  }
  
  .custom-navbar .nav-link {
    color: white; /* white links */
  }
  
  .custom-navbar .nav-link:hover {
    color: #ffc800; /* gold highlight on hover */
  }
  