.custom-navbar {
  background-color: #2e313d; /* Dark background */
  color: white; /* White text */
}

.custom-navbar .nav-link {
  color: white; /* Default link color */
}
.custom-navbar .nav-link:hover {
  color: #ffc800; /* Gold color on hover */
}

.navbar-toggler {
  border-color: white; /* White border for toggle button */
}

/* Custom icon for the navbar toggle button */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='1' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* White menu icon */
}
