.resized-container{
    min-width: 0; /* Removes any minimum width */
    width: auto; /* Optional: Allows the container to shrink freely */
}

.resized{
    width: 600px; /* Set desired width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure it fits within the parent container */
}

.text-gold {
    color: #ffd900fb
}